.reviewsList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.reviewsItem {
  font-size: 20px;
    padding: 16px 0;
    border-top: 3px solid;
  border-bottom: 3px solid;
  margin-bottom: 24px;
 }

.author {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 16px;
}